{% extends 'base.html.twig' %}

{% block body %}


    {{ form_start(form) }}
    <fieldset>

        <legend>Connexion</legend>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            <strong>Oops !</strong> {{ error }}
        </div>
        {% endif %}
        {{ form_row(form.userName, {label: 'nom d\'utilisateur'}) }}
        {{ form_row(form.password, {label: 'mot de passe'}) }}
        <input type="submit" value="Valider ">
        <br>

    </fieldset>
    {{ form_end(form) }}
{% endblock %}
